h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
}

img {
    display: block;
    margin: auto;
}

body {
    margin: 50px;
}

/*
    background-image: url("http://www.malayalamexpressonline.com/uploads/news/4cfab1d1f7876fe6d58dc8871e1df30a.jpg");
*/